  <!-- 雙向綁定 -->
  <input type="text"  [(ngModel)]="name">
  name: {{ name }}
  <!-- event binding -->
  <button (click)="changeTitle()">change</button>
  Title: {{ title}}
  <input type="text" (input)="handleChange($event)">


    <span [id]="'title'">title</span>
    <span [id]="dynamicTitle"></span>
    <span class="title">class</span>
    {{ 1 + 1 }}
    <h3 class="text-xl p-4 leading-2"></h3>
    <!-- 條件式綁定class -->
    <h3 [class.h3-dom]="isShow"></h3>
    <h3 [class]="{ 'text-sm': true, 'text-red': false }"></h3>
    <h3 [class]="['h3-dom', 'title-dom']">pic</h3>
    <!-- inline style -->
    <h3 [style.width]="'200px'"></h3>
    <!-- 較少見 -->
    <h3 [style.width.px]="100"></h3>
    <h3 [style]="'background:#ddd;color:steelblue'">hi</h3>
    <h3 [style]="{ background: '#ddd', color: 'steelblue' }">hi</h3>

  